*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body{
    height: 100vh;
    text-align: center;
    
    
    
    
}

.header-content{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: .5rem;
    
}

.logos{
    color: black;
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    
}
#logos{
    height: 2.5rem;
    width: 2.5rem;
}

.nav{
    display: none;
    gap: 1.5rem;    
}
@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
    
}
.nav-link{
    color: rgb(99, 100, 100);
    transition: all 0.3s linear 0s;
}

.nav-link:hover{
    color: rgb(255, 2, 2);
    transform: scale(1,1.2);
}

.contact-us{
    display: none;
    color: rgb(255, 255, 255);
    border: 1px;
    width: 6rem;
    background-color: rgb(14, 12, 153);
    padding: .3rem;
    justify-content: center;
}
.contact-us:hover{
    color: rgb(255, 2, 2);
    
}

@media screen and (min-width:768px) {
    .contact-us{
        display: block;
    }
    
}
.menu-button{
    display: none;
    border: none;
    background-color: var(--bangroun-color);
    padding: .5rem;
}
@media screen and (max-width:768px) {
    .menu-button{
        display: flex;
    }
    
}
.menu_icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section-box{
    max-width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    
}

.section_left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;

    

}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

#level{
    color: rgb(255, 6, 110);
    font-size: 1.1rem;
    font-weight: bold;
}
#title{
    font-size: 1.5rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: .5rem;
    margin-top: 1rem;
    justify-content: center;
}

.start-button, .take-button{
    border: none;
    font-weight: bold;
    border-radius: .5rem;
    color: white;
    background-color: rgb(31, 3, 58);
    padding: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.take-button{
    background-color: rgb(3, 38, 68);
}

.start-button:hover{
    background-color: blueviolet;
}

.take-button:hover{
    background-color: rgb(230, 79, 9);
}

.section-right{
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-content{
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1px 4px 8px rgb(49, 49, 49);
    height: 20rem;
}

.main-theam{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }   
    .section_left{
        max-width: 50%;
        text-align: left;
    }
    .button-group{
        justify-content: left;
        padding: 0;
    }

    #para2{
        color: rgb(97, 89, 89);
        width: 70%;
    }
    
    
    
}

.company-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    

}

.company-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: rgb(207, 207, 207);
    border: none;
    animation: slideFromLeft 1s ease backwards;
}
.company-logo{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: .3rem;
    color: rgb(243, 242, 242);
}

.svg-logo{
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (min-width:768px) {
    .company-grid{
        display: flex;
    }
    .company-header{
        font-weight: bold;
        font-size: 1.5rem;
    }
    
}

.feature-content{
    margin-top: 2rem;
    background-color: rgb(243, 242, 242);
    text-align: center;
}
.feature-content-area{
    
    
    width: 60%;
    margin: 0 auto;
}
.feature-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.feature-info-p{
    color: rgb(150, 151, 151);
    width: 75%;
    margin: 0 auto;
}
.feature-heading{
    font-size: 2rem;
    font-weight: bold;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    gap: 2rem;
}

.feature-grid-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(13, 43, 41);
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    
}
.feature-box-image{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    
    
}
.feature-grid-box-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.feature-box-heading{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.feature-box-p{
    color: rgb(175, 175, 167);
}


.feature-grid-box:nth-child(2){
    background-color: rgb(4, 34, 117);
}
.feature-grid-box:nth-child(3){
    background-color: rgb(167, 30, 114);
}
.feature-grid-box:nth-child(4){
    background-color: rgb(2, 102, 72);
}
.feature-grid-box:nth-child(5){
    background-color: rgb(134, 52, 14);
}
.feature-grid-box:nth-child(6){
    background-color: rgb(250, 39, 102);
}

@media screen and (max-width:650px) {
    .feature-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.testmonial-content{
    text-align: center;
    
    padding: 2rem;
    
}

.testmoonial-content-area{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 2rem;
  
   
}

.testmonial-box{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 2px 4px red;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.testmonial-box:hover{
    transform: scale(1.05);
    border: 1px solid rgb(16, 5, 80);
    box-shadow: 0 2px 8px rgb(16, 5, 80);
}

.testmonial-heading{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.testmonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 1.5rem;
    
    
}

.testmonial-box-fotter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: .5rem;
}
.h3{
    font-size: 1rem;
    font-weight: bold;
}
.span{
    font-size: .8rem;

}

.testmonial-image{
    height: 3rem;   
    width: 3rem;
    border-radius: 50%;    
    margin-top: 1rem;
}

.news-content{
   
    padding: 1rem;
    

}

.news-content-area{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    
    gap: 2rem;
    
}

@media screen and (max-width:1030px) {
    .news-content-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

.news-content-left{
    border: 1px  solid red;
}

.news-content-left img{
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center;
}
.news-content-right{
    border: 1px  solid red;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: self-start;
    padding: 1rem;
    gap: .8rem;
}

.news-title{
    font-size: 2rem;
    color: rgb(7, 51, 252);
}

.newspara{
    color: rgb(163, 165, 165);
}

.newsbutton{
    background-color: rgb(30, 2, 133);
    color: white;
    padding: .2rem;
}


.news-content-right-fotter{
   text-align: center;
   font-size: .7rem;
   margin-top: 1rem;
}


.footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: left;
    justify-content: space-between ;
    gap: 5rem;
    padding: 3rem;
    margin-top: 3rem;

}

.left-footer{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 2rem;

}

.left-header{
    display: flex;
    align-items: center;
}

.left-header img{
    width: 3rem;
    height: 3rem;
}

.left-pera{
    display: flex;
    flex-direction: row;
}

.left-logos{
    background-color: aqua;
}
.left-logos img{
    width: 1.5rem;
    height: 1.5rem; 
    background-color: rgb(236, 9, 9);  
}

.right-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6rem;
    text-align: start;
}

.products-heading{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

ul{
    list-style-type: none;
}

.products-ul{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.products-list-link{
    color: rgb(143, 142, 142);
}

@media screen and (max-width:1068px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width:622px) {
    .right-footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}

.end-footer+end-footer{
    justify-content: center;
}